/* src/styles.css */
header {
    font-family: 'Arial', sans-serif;
  }
  
  /* Mobile Menu Styling */
  #mobile-menu {
    background-color: #1e3a8a; /* Blue */
    padding: 1rem;
  }
  
  #hamburger-menu {
    cursor: pointer;
  }
  
  input {
    color: #000;  /* Set text color to black or a visible color */
  }
  